@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary;
  }

  textarea:invalid[titlefocused="true"] ~ span,
  textarea[titlevalid="false"] ~ span {
    display: block;
  }

  div:has(textarea:invalid[textfocused="true"]) + span,
  div:has(textarea[textvalid="false"]) + span {
    display: block;
  }

  .w-tc-editor.min-h-full {
    min-height: auto;
    flex-grow: 1;
  }

  .w-tc-editor.min-h-full > textarea[style] {
    padding-bottom: 0 !important;
  }

  div.md-preview-note-wrapper > p {
    overflow-wrap: break-word;
    margin: 0;
    font-size: 15px;
    line-height: 1.5;
    padding: 24px;
  }

  @media (any-pointer: coarse) {
    .basic-date-pickers {
      display: none !important;
    }
  }
}

html[data-color-mode="dark"]
  .w-tc-editor
  code[class*="language-"]
  .token.punctuation,
html[data-color-mode="dark"]
  .w-tc-editor
  pre[class*="language-"]
  .token.punctuation {
  color: #c9d1d9 !important;
}

html {
  color: #c9d1d9;
}

html[data-color-mode="dark"] .w-tc-editor {
  @apply bg-primary;
}

.twolines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5;
  max-height: 5ch;
}

.note-cursor-text textArea {
  @apply cursor-text;
}

.max-h-img {
  /* min max */
  max-height: 20vh;
  max-width: 100%;
}
