@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-primary;
  }

  textarea:invalid[focused="true"] ~ span, textarea[titlevalid="false"] ~ span {
    display: block;
  }
}

html[data-color-mode="dark"]
  .w-tc-editor
  code[class*="language-"]
  .token.punctuation,
html[data-color-mode="dark"]
  .w-tc-editor
  pre[class*="language-"]
  .token.punctuation {
  color: #c9d1d9 !important;
}
html[data-color-mode="light"]
  .w-tc-editor
  code[class*="language-"]
  .token.punctuation,
html[data-color-mode="light"]
  .w-tc-editor
  pre[class*="language-"]
  .token.punctuation {
  color: #24292f !important;
}

html[data-color-mode="dark"] .w-tc-editor {
  @apply bg-primary;
}

html[data-color-mode="light"] .w-tc-editor {
  @apply bg-zinc-200;
}

.twolines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5;
  max-height: 5ch;
}
